/* SignUp.css */

.sign-up {
    background-image: url('../image/bgImg.png'); 
    /* background-color: black; */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sign-up-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    max-width: 400px;
    width: 90%;
    text-align: center;
    border-radius: 5px;
  }
  
  .sign-up h1 {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 3px;
  }
  
  .sign-up-button {
    background-color: #e50914;
    color: #fff;
    border: none;
    padding: 10px;
    width: 95%;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .sign-up-button:hover {
    background-color: #ff0000;
  }
  
  .already-member {
    color: #fff;
    margin-top: 10px;
  }
  
  .already-member a {
    color: #e50914;
    text-decoration: none;
    font-weight: bold;
  }
  